<main class="main">
  <p-menubar [model]="items" styleClass="custom-menubar">
      <ng-template pTemplate="start">
          <span class="logo">NewsWebsite</span>
      </ng-template>
      <ng-template pTemplate="end">
          <div class="flex align-items-center gap-2">
              <input type="text" pInputText placeholder="Search" class="search-input" />
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
          </div>
      </ng-template>
      <ng-template pTemplate="item" let-item>
          <a [routerLink]="item.routerLink" class="p-menuitem-link" [ngClass]="{'active-menu-item': activeItem === item.routerLink}">
              <i [class]="item.icon"></i>
              <span>{{ item.label }}</span>
          </a>
      </ng-template>
  </p-menubar>

  <router-outlet></router-outlet>

  <footer class="footer-section">
      <div class="footer-content">
          <p>&copy; 2024 NewsWebsite. All rights reserved.</p>
      </div>
  </footer>
</main>