<main class="main">
  <p-menubar [model]="items" [ngClass]="{'draggable': isElectronApp}">
    <ng-template pTemplate="start">
      <div class="macos-window-controls" *ngIf="isElectronApp">
        <p-button
          icon="pi pi-times"
          [rounded]="true"
          (click)="closeApp()"
          [style]="{
            width: '14px',
            height: '14px',
            padding: '0',
          }"
          severity="danger"
        ></p-button>
        <p-button
          icon="pi pi-minus-circle"
          [rounded]="true"
          (click)="minimizeApp()"
          [style]="{
            width: '14px',
            height: '14px',
            padding: '0',
          }"
          severity="warning"
        ></p-button>
        <div *ngIf="!isMaximized">
          <p-button
            icon="pi pi-arrow-up-right-and-arrow-down-left-from-center"
            [rounded]="true"
            (click)="maximizeApp()"
            [style]="{
              width: '14px',
              height: '14px',
              padding: '0',
            }"
            severity="success"
          ></p-button>
        </div>
        <div *ngIf="isMaximized">
          <p-button
            icon="pi pi-arrow-down-left-and-arrow-up-right-to-center"
            [rounded]="true"
            (click)="restoreApp()"
            [style]="{
              width: '16px',
              height: '16px',
              padding: '0',
            }"
            severity="success"
          ></p-button>
        </div>
      </div>
      <a class="logo" (click)="goHome()">News</a>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <ng-container *ngIf="isLoggedIn; else loggedOutTemplate">
          <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/walter.jpg" 
            shape="circle" 
            (click)="onAvatarClick($event, overlayPanel)">
          </p-avatar>

          <p-overlayPanel #overlayPanel>
            <div class="user-info">
              <div class="avatar-section">
                <p-avatar 
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/walter.jpg" 
                  shape="circle" 
                  size="large"
                  class="user-avatar"
                ></p-avatar>
                <div class="welcome-message">
                  <h3>Welcome back, <span class="username">{{ user?.username }}</span></h3>
                </div>
              </div>
            
              <div class="session-info">
                <p>Session expires: 
                  <strong class="expiry-time">{{ user?.expires | date: 'MMMM d, y, h:mm a' }}</strong>
                </p>
              </div>
            </div>
              <p-button class="user-actions mt-3" label="Sign out" icon="pi pi-sign-out" (click)="logout()"></p-button>
          </p-overlayPanel>
        </ng-container>
        <ng-template #loggedOutTemplate>
          <ng-container *ngIf="!isLoginPage">
            <p-button label="Login" icon="pi pi-sign-in" (click)="login()" id="login-button"></p-button>
          </ng-container>
        </ng-template>
      </div>
    </ng-template>
    <ng-template pTemplate="item" let-item>
      <a [routerLink]="item.routerLink" class="p-menuitem-link" [ngClass]="{'active-menu-item': activeItem === item.routerLink}">
          <i [class]="item.icon"></i>
          <span class="menu-item-label">
            {{ item.label }}
          </span>
      </a>
  </ng-template>
  </p-menubar>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer-section">
    <div class="footer-content">
      <div class="footer-left">
        <a href="/#">Contact Us</a>
      </div>
      <p class="footer-center">&copy; 2024 News Manager Project.</p>
      <div class="footer-right">
        <a href="/#">Terms of Service</a>
        <a href="/#">Privacy Policy</a>
      </div>
    </div>
  </footer>
</main>