<main class="main">
  <p-menubar [model]="items" styleClass="custom-menubar">
      <ng-template pTemplate="start">
          <span class="logo">NewsWebsite</span>
      </ng-template>
      <ng-template pTemplate="end">
          <div class="flex align-items-center gap-2">
              <input pInputText placeholder="Search" />
              <ng-container *ngIf="isLoggedIn; else loggedOutTemplate">
                  <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                  <p-button label="Logout" icon="pi pi-sign-out" (click)="logout()"></p-button>
              </ng-container>
              <ng-template #loggedOutTemplate>
                  <ng-container *ngIf="!isLoginPage">
                      <p-button label="Login" icon="pi pi-sign-in" (click)="login()"></p-button>
                  </ng-container>
              </ng-template>
          </div>
      </ng-template>
      <ng-template pTemplate="item" let-item>
          <a [routerLink]="item.routerLink" class="p-menuitem-link" [ngClass]="{'active-menu-item': activeItem === item.routerLink}">
              <i [class]="item.icon"></i>
              <span>{{ item.label }}</span>
          </a>
      </ng-template>
  </p-menubar>

  <router-outlet></router-outlet>

  <footer class="footer-section">
      <div class="footer-content">
          <p>&copy; 2024 NewsWebsite. All rights reserved.</p>
      </div>
  </footer>
</main>