<div class="homepage-container">
    <div class="hero-section" *ngIf="featuredArticle && !isCategoryPage">
        <div class="hero-article">
            <img 
                [src]="'data:' + featuredArticle.thumbnail_media_type + ';base64,' + featuredArticle.thumbnail_image" 
                alt="{{ featuredArticle.title }}" 
                class="hero-img" 
            />
            <div class="hero-overlay">
                <div class="hero-content">
                    <h1>{{ featuredArticle.title }}</h1>
                    <p [innerHTML]="featuredArticle.abstract"></p>
                    <p-button label="Read More" (click)="navigateToArticle(featuredArticle.id)"></p-button>
                </div>
            </div>
        </div>
    </div>

    <div class="search-container">
        <h2>{{ title }}</h2>
        <div>
            <p-button
                label="Create"
                class="pr-2"
                *ngIf="isLoggedIn"
                (click)="navigateToCreateArticle()"
            >
            </p-button>
            <p-iconField>
                <p-inputIcon styleClass="pi pi-search"/>
                <input
                    type="text"
                    pInputText
                    (input)="onSearch()"
                    [(ngModel)]="searchTerm"
                    placeholder="Search articles..."
                />
            </p-iconField>
        </div>
    </div>

    <div class="masonry-grid">
        <p-card *ngFor="let article of filteredArticles" class="news-card masonry-item">
            <ng-template pTemplate="header">
                <img 
                    [src]="'data:' + article.thumbnail_media_type + ';base64,' + article.thumbnail_image" 
                    alt="{{ article.title }}" 
                    class="news-img" 
                    style="height: 150px; object-fit: cover;"
                />
            </ng-template>
            <div class="article-details">
                <div class="news-category">{{ article.category }}</div>
                <div class="news-title">{{ article.title }}</div>
                <div class="news-subtitle">{{ article.subtitle }}</div>
                <div class="news-content">
                    <p [innerHTML]="article.abstract"></p>
                </div>
            </div>

            <ng-template pTemplate="footer">
                <div class="footer-actions">
                    <p-button label="Read More" (click)="navigateToArticle(article.id)"></p-button>
                    <div class="article-options" *ngIf="isLoggedIn">
                        <p-button icon="pi pi-ellipsis-h" (click)="onOptionsClick($event, articleOptions)" class="ellipsis-button"></p-button>
                        <p-overlayPanel #articleOptions>
                            <ul class="options-list">
                                <li (click)="editArticle(article.id)" class="option-item">
                                    <i class="pi pi-pencil"></i> Edit
                                </li>
                                <li (click)="exportArticle(article.id, articleOptions)" class="option-item">
                                    <i class="pi pi-file-export"></i> Export
                                  </li>
                                <li (click)="confirmDelete(article.id)" class="option-item delete-item">
                                    <i class="pi pi-trash"></i> Delete
                                </li>
                            </ul>
                        </p-overlayPanel>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>
    <p-toast key="toast"></p-toast>
    <p-confirmDialog
        header="Confirm Delete"
        icon="pi pi-exclamation-triangle" 
        message="Are you sure you want to delete this article?" 
        acceptLabel="Yes"
        rejectLabel="No"
        acceptButtonStyleClass="p-button-danger" 
        rejectButtonStyleClass="p-button-secondary"
    >
    </p-confirmDialog>
</div>