/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';

:root {
    --secondary-color: #9ccc65;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--bluegray-50);
}

ul, li {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

app-login {
    height: 100%;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}